extends layouts/main
include mixins/fileBlock

block content
    // a(href=`/files${routes.upload}`) Upload
    .home-files
        - files.forEach((user, i)=>{
            section
                h3 #{user.usr_id}
                p=user.usr_name
        - });