extends layouts/main
include mixins/fileBlock

block content
    .search__header
        h3 Searching for: #{searchingBy}
    .search__videos
        if files.length === 0
            h5 No Files Found
        each item in files
            +fileBlock({
                title : item.title,
                id: item.id
            })