header.header
    .header__wrapper
        .header__column
            a(href=routes.home)
                i.far.fa-file-alt
        .header__column
            form(action=routes.search, method="get")
                input(type="text", placeholder="Search by term...", name="term")
        